body{
	background: rgb(33,33,33);
	color: rgb(255,255,255);
}

.row{
	width: 100%;
}

td{
		border: 3px solid rgba(255,255,255,0.5);
		width: 195px;
		height: 195px;
		text-align: center;
		font-size: 125px;
}

.btn{
	margin-top: 10px;
	border-radius: 0px !important;
}

#label2{
	margin-top: -2px !important;
	margin-bottom: -2px !important;
	margin-left: -7px !important;
	margin-right: -7px !important;
}

/*--------------------- Types  ------------------------*/
.playing{
	width: 100%;
	font-size: 28px !important;
	background-color: white;
}

.not-playing{
	display: none;
	position: absolute;
}

/*------------------Thinking animation-------------------*/
.thinking span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.thinking span:nth-child(2) {
  animation-delay: .2s;
}

.thinking span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}


/*----------------------Input radio button--------------------*/

input[type="radio"] {
  display: none;
  position: absolute;
}

input[type="radio"] + label {
  color: white;
  font-size: 20px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 15rem;
  height: 100%;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius:0%;
  border-radius: 0%;
  padding: 5px;
  border: 2px solid white;
  background-color: #2D76B4;
}

input[type="radio"]:checked + label span {
	background-color: white;
}
input[type="radio"]:checked + label{
  color: #2D76B4;
}


/*------------------------Media Queries---------------------------*/

@media (max-width: 768px) {
	td{
			border: 3px solid rgba(255,255,255,0.5);
			width: 130px;
			height: 130px;
			text-align: center;
			font-size: 80px;
	}
	input[type="radio"] + label span{
		width: 118px;
	}
	.tb{
		margin: 2px;
	}
	.display-2{
		font-size: 2.2rem;
	}
	.btn{
		font-size: 20px;
	}
	.display-4{
		font-size: 2.0rem;
	}
}
